* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: auto;
  height: 95vh;
  width: 95vw;
}

.wrapper {
  display: flex;
  flex-direction: row;
  height: 95vh;
  max-width: 1440px;
  margin: auto;
}

.leftside {
  width: 25%;
  height: 100%;
  background-color: rgb(209, 209, 209);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  margin: 10px;
  align-self: flex-start;
  background-color: rgb(142, 142, 247);
  width: 85%;
  padding: 15px;
  border-radius: 5px;
}

.rightside {
  width: 75%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 20%;
  background-color: antiquewhite;
}

.btn1 {
  align-self: flex-end;
  width: 10%;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}

.centerbox {
  width: 50%;
  height: 30%;
  background-color: brown;
}

.bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.round {
  align-self: flex-end;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(190, 190, 190);
}

.centerbox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
}

.search {
  width: 30%;
  border-radius: 5px;
  padding: 5px;
}

.btn2 {
  width: 10;
  border-radius: 5px;
  padding: 5px;
}

@media screen and (max-width: 375px) {
  .leftside {
    height: 20%;
    background-color: antiquewhite;
  }
  
  .btn2 {
    display: none;
  }
  .round {
    align-self: flex-start;
  }
}
